@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700;1,800&family=Stylish&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Stylish', sans-serif;
}

body{
	background: #000;
}

h1{
	color: #fff;
	font-size: 5em;
	text-align: center;
}

h2{
	color: #fff;
	font-size: 2em;
	text-align: center;
}

h3{
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}


.bg{
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(#1853FF,#A4BFFF);
	padding:0;
}

#quiz,#tutorial{
 	justify-content: space-around;
}

#tutorial h2{
 font-size: 2.5em;
}

.ST_details{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 2em;
}

#score, #time{
	font-size: 1.3em;
}

.button{
    background-color : #0042FF;
	border:3px solid #fff;
	color:#fff;
	padding:20px;
	text-align:center;
	font-size:2em;
	cursor:pointer;
	border-radius: 10%;
}

.button:hover {
	background:#90FFF0;
	padding: 25px;
    font-size: 2.5em;
	color: #000;
	border-color: #000;
}

#back{
	position: absolute;
	left:0;
	padding: 10px;
	font-size: 1.5em;
	border:5px solid #000;
	background: #00B008;
}

#back:hover{
	padding: 10px;
	font-size: 1.5em;
	background: #FF4A4A;
	color: #fff;
}

#answer{
	padding: 20px;
	font-size: 2em;
	border:1px solid #000;
	background: #FF4A4A;
	color:#000;
}

#answer:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#question{
	padding:0 100px 0;
}

.none{
	display:none;
}

.change{
	animation: anim 3s forwards;
}

@keyframes anim{
	100%{
		font-size: 1.2em;
		color: red;
	}
}

#indicator{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 0.2%;
	height: 0.1%;
	padding: 20px;
	font-size: 1.5em;
	background-color: red;
	border-radius: 50%;
	text-align:center;
	color:#fff;
}	

span{
	color: red;
}

#s1{
	color: green;
}

#s1{
	color: yellow;
}


@media only screen and (max-width:1200px){
	.bg{
		width: 80%;
	}
	
	h1{
	  margin-top: 200px;
	}
	
	.button{
		padding: 50px;
		font-size: 3em;
	}
	
	.button:hover {
	 padding: 35px;
     font-size:3.5em;
	}
	
	#question{
		font-size:3.5em;
	}
	
	
  h2{
	font-size: 2em;
  } 


  h3{
	font-size: 2em;
  }

#indicator{
	width: 0.2%;
	height: 0.1%;
}

}
